*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: #da3135;
    color: #f1efda;
    font-size: 41px;
    font-family: 'Oswald', sans-serif;
    width: 1000px;
    height: 120px;
    margin: 15px auto;
    padding-top: 20px;
    }

.cabecera .bloque {
    display: inline-block;
    border: 0px solid black;
    width: 140px;
    height: 40px;
    margin: 20px 20px;
}

.logo-cabecera {
    border: 1px solid black;
    display: block;
    position: absolute;
    top: 45px;
    left: 160px;
}

.cabecera .bloque .links { 
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 42px;
    right: 161px;
}

.links a {
    text-decoration: none;
    color: #f1efda;
}

body{
    background: white;
    color: #999;
font-size: 15px;
font-family: 'Oswald', sans-serif;
}

/* Navigation */

.container {
    width: 1000px;
    height: 48px;
    margin: auto;
    border: 1px solid black;
    background: #da3135;
}
.nav-main {
    font-size: 17px;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
}

.nav-menu {
    margin: auto;
}

/* NAV LEFT */
.nav-main ul {
    list-style: none;
    margin: 0 20px;;
}

.nav-main ul li {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 47px;
    margin: auto;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;   
}
