*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: #da3135;
    color: #f1efda;
    font-size: 41px;
    font-family: 'Oswald', sans-serif;
    width: 1000px;
    height: 120px;
    margin: 15px auto;
    }

.cabecera .bloque {
    display: inline-block;
    border: 0px solid black;
    width: 140px;
    height: 40px;
    margin: 20px 20px;
}

.logo-cabecera {
    border: 1px solid black;
    display: block;
    position: absolute;
    top: 45px;
    left: 160px;
}

.cabecera .bloque .links { 
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 42px;
    right: 161px;
}

.links a {
    text-decoration: none;
    color: #f1efda;
}

body{
    background: white;
    color: #999;
font-size: 15px;
font-family: 'Oswald', sans-serif;
}


/* NAV MENU */

.nav-main {
    width: 1004px;
    height: 48px;
    font-size: 17px;
    display: block;
    text-align: center;
    align-items: center;
    margin: 31px auto;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

.nav-main ul {
    list-style: none;
    justify-content: space-between;
}

.nav-main ul li {
    display: flex;
    height: 47px;
    margin: auto 2px;
    background: #da3135;
    align-items: center;
    justify-content: center;
}

.nav-menu a{
    color: #f1efda;
    text-decoration: none;
}

.nav-main a:hover {
    border-bottom: 2px solid #f1efda;   
}


/* PRIMERA FILA DE 3 SECCIONES MENU */

.secciones {
    width: 1004px;
    height: 48px;
    font-size: 17px;
    display: block;
    text-align: center;
    align-items: center;
    margin: 31px auto;
}

.secciones-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    list-style: none;
}

.secciones-menu li {
    display: flex;
    height: 192px;
    margin: auto 2px;
    background: #da3135;
    align-items: center;
    justify-content: center;
}

.secciones-menu a {
    color: #f1efda;
    text-decoration: none;
}

.secciones-menu a:hover {
    border-bottom: 2px solid #f1efda;   
}

/* FILA DE TRES ARTICULOS */

.articulos {
        display: grid;
        width: 1000px;
        height: 192px;
        grid-template-columns: repeat(3, 1fr);
        margin: 150px auto;
        align-items: center;
        justify-content: center;
        color: #f1efda
    }

.articulo-uno {
    width: 200px;
    height: 453px;
    background: url(imagenes/img-articulo-1.jpg);
    padding: 20px;
}

.articulo-dos {
    width: 600px;
    height: 453px;
    background: url(imagenes/img-articulo-2.jpg);
    padding: 20px;
}

.articulo-tres {
    width: 200px;
    height: 453px;
    background: url(imagenes/img-articulo-3.jpg);
    padding: 20px;
}

.articulos a {
    padding: 10 px 0;
    color: #f2f2f2;
    display: inline-block;
    font-weight: bold;
}
